Cold_Outreach_copy.json
{
  "name": "Cold Outreach copy",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.5-preview",
          "mode": "list",
          "cachedResultName": "GPT-4.5-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "You're a helpful, intelligent sales assistant.",
              "role": "system"
            },
            {
              "content": "Your task is to take as input a natural language description of a prospect audience, and turn that into an Apollo Search URL.\n\nHere's an example of an Apollo Search URL:\n\nhttps://app.apollo.io/#/people?personLocations[]=United%20States&sortAscending=false&sortByField=%5Bnone%5D&personTitles[]=owner&personTitles[]=ceo&personTitles[]=founder&personTitles[]=partner&page=1&qKeywords=creative%20agency&organizationNumEmployeesRanges[]=1%2C200\n\nThis URL describes a search for people that are\n- Located in the United States.\n- Hold the titles: Owner, CEO, Founder, or Partner.\n- Have a keyword association with “creative agency”.\n\nThese are the fields you can change:\n\norganizationLocations[], Keywords, personTitles[], and organizationNumEmployeesRanges[]\n\nDo not add or change any other fields. Use the above template\n\nReturn your response in JSON using this format:\n\n{\"searchUrl\":\"search url goes here\"}"
            },
            {
              "content": "={{ $json.body['Describe your audience in plain English.'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        340,
        0
      ],
      "id": "5bc6fa88-53fb-4981-ac7e-1a957e27e9a9",
      "name": "Generate Search URL",
      "credentials": {
        "openAiApi": {
          "id": "Zmu1dcv6YZgGriL1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "first_name"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1080,
        0
      ],
      "id": "88c6d25c-1912-4894-a9f1-d88f5a64c042",
      "name": "Add to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UwSNjez4rmJep3KL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent writing assistant.",
              "role": "system"
            },
            {
              "content": "Your task is to take as input a bunch of LinkedIn profile information of a user, and then generate a very short, very punchy icebreaker that I can use as a variable in my connection request.\n\nReturn your results in this format:\n\n{\"icebreaker\":\"Icebreaker goes here\"}\n\nIn order to ensure icebreakers are punchy and high-quality, make them follow this template:\n\nHey {{name}}, loved seeing {{thingAboutThem}}. I'm also into {{plausibleTieIn}}, thought I'd connect.\n\nFor {{thingAboutThem}} and {{plausibleTieIn}}, never use the exact information provided in a LinkedIn field. Instead, always paraphrase. This makes it seem human written, instead of just an automated message. Also, make it super short. Don't say stuff like \"passionate about turning vision into reality\" or anything like that—be extremely laconic and spartan."
            },
            {
              "content": "{\"linkedInFields\":\"Danielle Morgan, Fort Lauderdale, Founder & CEO at DM Creative Agency, previous experience: Regional Sales Director at Out East Eyewear, Account Director at Radancy\"}"
            },
            {
              "content": "{\n  \"icebreaker\": \"Hey Danielle, loved seeing your creative agency journey. I'm also building brands, thought I'd connect.\"\n}",
              "role": "assistant"
            },
            {
              "content": "={\"linkedInFields\":\"{{ $json.first_name }} {{ $json.last_name }}, {{ $json.location }}, {{ $json.current_job_title }} at {{ $json.current_org }}, previous experience: {{ $json.past_title }} at {{ $json.past_org }}\"} "
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        120,
        1360
      ],
      "id": "3dc59f67-39bc-4617-912d-7c65856fcbe0",
      "name": "Personalize Outreach"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.data.email }}",
            "domain": "={{ $json.data.domain }}",
            "first_name": "={{ $json.data.first_name }}"
          },
          "matchingColumns": [
            "first_name"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        920,
        1640
      ],
      "id": "0238f7e7-66b6-489c-8e21-9b5b50959baa",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/email-finder?company={{ $json.company }}&first_name={{ $json.first_name }}&last_name={{ $json.last_name }}&api_key=",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        1720
      ],
      "id": "8d2780cd-216b-4cac-a9be-c5072f4ccd99",
      "name": "Emails"
    },
    {
      "parameters": {
        "jsCode": "// Get the array of contacts from your input\nconst contacts = $input.first().json.contacts\n\nconst transformedItems = [];\n\nfor (const contact of contacts) {\n  if (!contact.name) continue;\n\n  const nameParts = contact.name.trim().split(/\\s+/);\n  const first_name = nameParts[0] || \"\";\n  const last_name = nameParts.slice(1).join(\" \") || \"\"; // Handles cases with middle names\n\n  transformedItems.push({\n    json: {\n      first_name,\n      last_name,\n      title: contact.title || \"\",\n      company: contact.company || \"\",\n      linkedin: contact.linkedin || \"\"\n    }\n  });\n}\n\nreturn transformedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "b5f93a48-6609-4347-a26a-e69455ed1666",
      "name": "Code"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BryJkIyueWmVyijkfqJgHGyj5SnvB2UExxtp5j4tgS0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        140,
        1660
      ],
      "id": "868a6b7c-d9a2-498a-8257-85b16699b397",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64c2dc38-12ca-45fa-8ed4-6ad1856fb04c",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        320,
        1660
      ],
      "id": "7566d5ce-ec78-4e63-99fc-dd70d97c01e6",
      "name": "Filter"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        920,
        1820
      ],
      "id": "9babe2b2-8ae8-4d0c-8fea-1d61cad909a6",
      "name": "Wait",
      "webhookId": "6962caa8-76bf-4b90-8bee-230d728c3de1"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        1660
      ],
      "id": "a2fca652-b35c-4f71-8523-dd80dd3520c4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Bulk Email Render",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        1680
      ],
      "id": "36d85e48-08f7-460c-b5d8-947a3210daa6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Generate search and acquire linkedin leads\n \n",
        "height": 120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "43131385-2627-437a-8b6f-d1c62800589a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1c30a428-b259-4e31-aa10-0ba6ad713834",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        700
      ],
      "id": "8791f1e7-a803-488e-a5aa-21ed295fb88d",
      "name": "Email Acquisition",
      "webhookId": "1c30a428-b259-4e31-aa10-0ba6ad713834"
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/email-finder?company={{ $json.body.company }}&first_name={{ $json.body.first_name }}&last_name={{ $json.body.last_name }}&api_key=",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        700
      ],
      "id": "ace6e3ec-cfab-4f26-8872-c8136deb872c",
      "name": "Getting Email"
    },
    {
      "parameters": {
        "content": "## Get email button\n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        720
      ],
      "id": "da79d30b-0d34-4dc9-ba7b-383cf2be71f1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "google-email"
            },
            {
              "name": "google-password"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "searchUrl",
              "value": "={{ $json.message.content.searchUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "537eaf40-921b-405c-82ab-3cc65bd6c60c",
      "name": "Acquire Leads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        1360
      ],
      "id": "145fccf5-3159-40e4-b0d9-aeb48ef607ee",
      "name": "Linkedin Auto Connect",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I",
          "mode": "list",
          "cachedResultName": "Linkedin Connect",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin": "={{ $json.linkedin_url }}"
          },
          "matchingColumns": [
            "linkedin"
          ],
          "schema": [
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "icebreaker",
              "displayName": "icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "container_id",
              "displayName": "container_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_org",
              "displayName": "current_org",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_job_title",
              "displayName": "current_job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "past_org",
              "displayName": "past_org",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "past_title",
              "displayName": "past_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "executionMode",
              "displayName": "executionMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        900
      ],
      "id": "4577501c-606a-4241-a9b0-b2985be6bd9f",
      "name": "Leads to connect",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UwSNjez4rmJep3KL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I",
          "mode": "list",
          "cachedResultName": "Linkedin Connect",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin": "={{ $json.profileUrl }}",
            "first_name": "={{ $json.firstName }}",
            "last_name": "={{ $json.lastName }}",
            "location": "={{ $json.location }}",
            "current_org": "={{ $json.currentJob.company }}",
            "current_job_title": "={{ $json.currentJob.title }}",
            "past_title": "={{ $json.previousJob.title }}",
            "past_org": "={{ $json.previousJob.company }}"
          },
          "matchingColumns": [
            "linkedin"
          ],
          "schema": [
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "icebreaker",
              "displayName": "icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "container_id",
              "displayName": "container_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_org",
              "displayName": "current_org",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_job_title",
              "displayName": "current_job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "past_org",
              "displayName": "past_org",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "past_title",
              "displayName": "past_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        1140
      ],
      "id": "9af832cb-6a20-463c-9f87-e6d4ceeea824",
      "name": "Gather personalized info"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I",
          "mode": "list",
          "cachedResultName": "Linkedin Connect",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOuEeXwBlns7iunXc1J8IKBCS3nrU3FjD8ri-omnn2I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "icebreaker": "={{ $json.message.content.icebreaker }}",
            "linkedin": "={{ $('Limit').item.json.linkedin }}"
          },
          "matchingColumns": [
            "linkedin"
          ],
          "schema": [
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "icebreaker",
              "displayName": "icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "container_id",
              "displayName": "container_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_org",
              "displayName": "current_org",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_job_title",
              "displayName": "current_job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "past_org",
              "displayName": "past_org",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "past_title",
              "displayName": "past_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        1360
      ],
      "id": "71e877b5-58f8-419c-b920-99c555aca7d2",
      "name": "Store messages"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        900
      ],
      "id": "3db12a1d-2613-48da-9d46-f1cf0ed78531",
      "name": "Run Profile Scrapper",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://api.phantombuster.com/api/v2/containers/fetch-result-object",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.containerId }}"
            },
            {
              "name": "mode",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        1140
      ],
      "id": "091d82fa-5f26-4ca1-8cc7-f171632b227f",
      "name": "Retrieve Result"
    },
    {
      "parameters": {
        "content": "## Connect Linkedin Users",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        920
      ],
      "id": "b7ed59b6-d517-4545-ad01-60aee5aa3ba8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        780,
        1140
      ],
      "id": "cdb662c6-21c6-42a0-8f8e-119ba266609f",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        900
      ],
      "id": "864d13cc-3fd3-4fb1-b716-4bdc9b57d3da",
      "name": "Wait1",
      "webhookId": "37ba9da8-290f-4ae2-b0b1-55a2b5814e53"
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Parse the stringified JSON array\nconst rawString = $input.first().json.resultObject;\nconst parsedArray = JSON.parse(rawString);\n\n// Step 2: Map each person into an item\nreturn parsedArray.map(input => ({\n  json: {\n    firstName: input.firstName,\n    lastName: input.lastName,\n    fullName: `${input.firstName} ${input.lastName}`,\n        profileUrl: input.linkedinProfileUrl\n      .replace(/^https:/, \"http:\")\n      .replace(/^http:\\/\\/(?!www\\.)/, \"http://www.\"),\n    headline: input.linkedinHeadline,\n    location: input.location,\n    connectionsCount: input.linkedinConnectionsCount,\n    connectionDegree: input.connectionDegree,\n\n    currentJob: {\n      title: input.linkedinJobTitle,\n      company: input.companyName,\n      industry: input.companyIndustry,\n      startDate: input.linkedinJobDateRange,\n      location: input.linkedinJobLocation,\n    },\n\n    previousJob: {\n      title: input.linkedinPreviousJobTitle,\n      company: input.previousCompanyName,\n      startDate: input.linkedinPreviousJobDateRange,\n      location: input.linkedinPreviousJobLocation,\n    },\n\n    education: [\n      {\n        school: input.linkedinSchoolName,\n        degree: input.linkedinSchoolDegree,\n        url: input.linkedinSchoolUrl\n      },\n      {\n        school: input.linkedinPreviousSchoolName,\n        degree: input.linkedinPreviousSchoolDegree,\n        url: input.linkedinPreviousSchoolUrl\n      }\n    ],\n\n    skills: input.linkedinSkillsLabel\n      ? input.linkedinSkillsLabel.split(\",\").map(skill => skill.trim())\n      : [],\n\n    summary: input.linkedinDescription,\n    isHiring: input.linkedinIsHiringBadge,\n    isOpenToWork: input.linkedinIsOpenToWorkBadge,\n    companyLinkedIn: input.linkedinCompanyUrl,\n    mutualConnectionsUrl: input.mutualConnectionsUrl,\n    connectionsUrl: input.connectionsUrl,\n    scrapedAt: input.refreshedAt\n  }\n}));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        1140
      ],
      "id": "70060ae1-9069-4a92-9b04-04b47d335aee",
      "name": "Split each user"
    },
    {
      "parameters": {
        "jsCode": "const urls = $input.first().json.body.linkedin_urls;\n\nreturn urls.map(url => ({\n  json: {\n    linkedin_url: url\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        900
      ],
      "id": "e355d25c-81b7-43e8-839d-bd2f74ff151d",
      "name": "Process users"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3ee91cf8-37c2-4074-9f5d-82876c748d96",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        0
      ],
      "id": "06271644-a862-4d96-8ce6-19517e766915",
      "name": "Submit Audience",
      "webhookId": "3ee91cf8-37c2-4074-9f5d-82876c748d96"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "da70eef2-1a3a-4c96-8af9-d1960e0ee0f5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        900
      ],
      "id": "9191601d-1d08-4e8c-bcd3-36b0fb68b8de",
      "name": "Submit Connections",
      "webhookId": "da70eef2-1a3a-4c96-8af9-d1960e0ee0f5",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        0
      ],
      "id": "a1d0f796-ce36-45e0-aef8-bcc26467a81e",
      "name": "Return Leads"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        700
      ],
      "id": "27c0511a-444a-40d0-af4d-e43528a88ad2",
      "name": "Domain Email"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Search URL": {
      "main": [
        [
          {
            "node": "Acquire Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheet": {
      "main": [
        [
          {
            "node": "Return Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalize Outreach": {
      "main": [
        [
          {
            "node": "Store messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emails": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Add to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Email Acquisition": {
      "main": [
        [
          {
            "node": "Getting Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Email": {
      "main": [
        [
          {
            "node": "Domain Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Leads": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads to connect": {
      "main": [
        [
          {
            "node": "Run Profile Scrapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather personalized info": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store messages": {
      "main": [
        [
          {
            "node": "Linkedin Auto Connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Profile Scrapper": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Result": {
      "main": [
        [
          {
            "node": "Split each user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Personalize Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Retrieve Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split each user": {
      "main": [
        [
          {
            "node": "Gather personalized info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process users": {
      "main": [
        [
          {
            "node": "Leads to connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Audience": {
      "main": [
        [
          {
            "node": "Generate Search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Connections": {
      "main": [
        [
          {
            "node": "Process users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "304d2843-9d0f-4259-8d9f-035dc3ab6d54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "904650dd48298f9ad3da96c3fbccbf962e1b680ad48461cab1570fbeefa07a50"
  },
  "id": "EuB4MKZQQ5jdlYLn",
  "tags": [
    {
      "createdAt": "2025-04-09T16:03:56.087Z",
      "updatedAt": "2025-04-19T01:28:03.984Z",
      "id": "3x2j0idNCsdViBqs",
      "name": "Project"
    }
  ]
}